/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:focus {
    outline: none;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: Arial, sans-serif;
}

a {
    color: #007bff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fira Code", monospace;
    background-color: #111;
    color: lightgreen;
    font-size: 1.2rem;
    height: 100dvh;
}
form,
#chat {
    width: 70%;
}
#chat-input {
    background-color: #111;
    color: lightgreen;
    resize: none;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid green;
}
#chat-input::placeholder {
    opacity: 1;
}
#chat {
    overflow-y: scroll;
    border-top: 1px solid green;
}
#box {
    display: flex;
    border-bottom: 1px solid green;
    flex-shrink: 0;
}
#box > * {
    padding: 10px;
}
#timeBox {
    background-color: rgba(0, 100, 0, 0.425);
    width: 200px;
    text-align: right;
    border-right: 1px solid green;
}
#timeBox p {
    margin: 0;
}
#chatBox {
    width: 100%;
}
@media (max-width: 900px) {
    form,
    #chat {
        width: 100%;
    }
}
@media (max-width: 450px) {
    #chatBox {
        word-break: break-all;
    }
}
